Responses to John Scudder's comments

### Section 10, language about lengths is muddled

OLD:
```
>> Receivers supporting UDP options MUST silently ignore unknown
SAFE options (i.e., in the same way a legacy receiver would ignore
all UDP options). That includes options whose length does not
indicate the specified value(s), as long as the length is not
inherently invalid (i.e., smaller than 2 for the default and 4 for
the extended formats). Note: a FRAG option with an unknown length
field SHALL be treated as an unsupported UNSAFE option.
```
NEW:
```

>> Receivers supporting UDP options MUST silently ignore unknown
SAFE options (i.e., in the same way a legacy receiver would ignore
all UDP options). That includes options whose length does not
indicate (one of) the value(s) stated in the option’s specification,
as long as the length is not inherently invalid (i.e., smaller than
2 for the default format and 4 for the extended format, or pointing
past the end of the surplus area). A FRAG option with an unknown
length field is an exception to this rule; it SHALL be treated as an
unsupported UNSAFE option.
```

### Section 10, "impossible lengths"
OLD:
```
>> Impossible lengths SHOULD be treated as an indication of a
malformed surplus area and all options SHOULD silently be discarded.
This includes lengths that imply a physical impossibility, e.g.,
smaller than two for conventional options and four for extended
length options. Lengths other than those expected result in safe
options being ignored and skipped over, as with any other unknown
safe option.
```
NEW:
```
>> Options with inherently invalid Length field values, i.e., those
that indicate underruns of the option itself or overruns of the
surplus area, MUST be treated as an indication of a malformed
surplus area, and all options MUST silently be discarded.
```

[ScudderSec10LenthFieldUpdates.docx](https://github.com/user-attachments/files/19265015/ScudderSec10LenthFieldUpdates.docx) shows these updates in a Word doc with track changes.

### Section 10, "This does not prohibit future uses ..."

This text is unclear:

This does not prohibit future uses of the entire surplus area; space that would have occurred after the EOL can be used as a UDP option instead, i.e., rather than using the EOL option and trying to defining meaning beyond it, define a new option that uses the remaining surplus area as an option itself, in conjunction with an assigned UDP option codepoint and length to unambiguously indicate the meaning of that area.

Summary of revision (to be turned into prose):

- some have concerns that there might be a need to allow use of the surplus area “after the options”
- however, this is just equivalent to the last option indicating “and here’s how to use the rest of the area”
- using an option to indicate this use is more safe because the option provides a check on the overall payload structure length


### Section 11.4, "partially reassembled"

s/
UDP options that apply to the reassembled datagram are contained in the partially reassembled surplus area, as indicated by RDOS.
/
UDP options that apply to the reassembled datagram are contained in the reassembled surplus area, as indicated by RDOS.
/


### Section 11.4, "limited support"

OLD:
```
>> Users MAY also select the FRAG option to provide limited support
for UDP options in systems that have access to only the initial
portion of the data in incoming or outgoing packets, with the caveat
that such packets would be silently ignored by legacy receivers
(that do not support UDP options).
```
NEW:
```
>> The FRAG option MAY also be used to provide limited support for
UDP options in systems that have access to only the initial portion
of the data in incoming or outgoing packets, as such systems could
potentially access per-fragment options. Such packets would, of
course, be silently ignored by legacy receivers that do not support
UDP options.
```

[ScudderSec11.4LimitedOptionSupportUpdate.docx](https://github.com/user-attachments/files/19265046/ScudderSec11.4LimitedOptionSupportUpdate.docx) shows this update in a Word doc with track changes.

### Section 11.5, known path MTU

OLD:
```
The Maximum Datagram Size (MDS, Kind=4) option is a 16-bit hint of
the largest unfragmented UDP packet that an endpoint believes can be
received. As with the TCP Maximum Segment Size (MSS) option [RFC9293],
the size indicated is the IP layer MTU decreased by the fixed
IP and UDP headers only [RFC9293]. The space needed for IP and
UDP options needs to be adjusted by the sender when using the value
indicated. The value transmitted is based on EMTU_R, the largest IP
datagram that can be received (i.e., reassembled at the receiver)
[RFC1122]. However, as with TCP, this value is only a hint at what
the receiver believes.

>> MDS does not indicate a known path MTU and thus MUST NOT be used
to limit transmissions.
```
NEW:
```
The Maximum Datagram Size (MDS, Kind=4) option is a 16-bit hint of
the largest unfragmented UDP packet that an endpoint believes can be
received. As with the TCP Maximum Segment Size (MSS) option
[RFC9293], the size indicated is the IP layer MTU decreased by the
fixed IP and UDP headers only [RFC9293]. The space needed for IP and
UDP options needs to be adjusted by the sender when using the value
indicated. As with TCP, this value is only a hint at what the
receiver believes.
```

Eliminating the reference to EMTU_R resolves a contradiction between the initial statement that MDS is the size of the largest **unfragmented** UDP packet that can be received and the fact that EMTU_R is the size of the largest IP datagram size that can be **reassembled**. The controversial normative sentence "MDS does not indicate a known path MTU and thus MUST NOT be used to limit transmissions" is then no longer incorrect, but it is not needed since it is stated later in another normative paragraph that "MDS can be used with DPLPMTUD [RFC8899] to provide a hint to the packetization layer path MTU (PLPMTU) value, though it MUST NOT prohibit transmission of larger UDP packets used as DPLPMTUD probes."

[ScudderSec11.5MDSUpdates.docx](https://github.com/user-attachments/files/19265224/ScudderSec11.5MDSUpdates.docx) shows this update in a Word doc with track changes.

### Section 25.1 Nit
```
OLD
   Note that any user application that considers UDP options to affect

NEW
   Note that any user application that considers UDP options to adversely
   affect
```

All added to -43 except for the MDS.

For section 11.5 (MDS), the new text in -43 reads as follows: and should be more clear:

The Maximum Datagram Size (MDS, Kind=4) option is a 16-bit hint of the largest **UDP packet or UDP fragment** that an endpoint believes can be received **without use of IP fragmentation**. **It helps UDP applications limit the largest UDP packet that can be sent without UDP fragmentation and helps UDP fragmentation determine the largest UDP fragment to send – in both cases, to avoid IP fragmentation.**
As with the TCP Maximum Segment Size (MSS) option [RFC9293], the size indicated is the IP layer MTU decreased by the fixed IP and UDP headers only [RFC9293]. The space needed for IP and UDP options needs to be adjusted by the sender when using the value indicated. The value transmitted is based on EMTU_R, the largest IP datagram that can be received (i.e., reassembled at the receiver) [RFC1122]. However, as with TCP, this value is only a hint at what the receiver believes, **as when used with PLPMTUD at the UDP layer as discussed later in this section**.

I feel that keeping the relationship to EMTU_R is important, but appreciate the observation that this could be made more clear.

Fixes verified.