Expand network management discussion

24. Network Management Considerations

WAS:

IP Flow Information Export Information Elements for UDP options have  been defined in [Bo24].

IS:

 UDP options use and configuration may be useful to track and manage remotely. IP Flow Information Export (IPFIX [RFC7011]) Information Elements for UDP options have been defined in [Bo24]. Similar to what has been done for TCP [RFC9648], a YANG model [RFC7950] for use by network management protocols (e.g.,  NETCONF [RFC6241] or RESTCONF [RFC8040]), may be developed. Development of these models is outside the scope of this document.

done in -43