Section 11.8: clarify the nature of TIME values (from John Scudder's DISCUSS ballot)

> ## DISCUSS
> 
> ### Section 11.8, TIME isn't time
> 
> I was bamboozled by this section until I followed the breadcrumb you kindly
> left pointing to RFC 7323, and learned that 7323 defines the clock "without any
> connection to time" (I am not making this up, it's RFC 7323 Section 5.4). Ergo,
> TIME has no connection to time. What a world.
> 
> I assume you are inheriting this definition; with that assumption, this section
> makes sense, without it, it doesn't. If that's what you are doing, I think you
> have to either provide the necessary definitions here, or (probably better)
> reference RFC 7232 normatively and state what definition(s) you're inheriting,
> instead of casually saying "serves a similar purpose".
> 
> (I appreciate that to people who live in this world, this was probably too
> obvious to bother writing down. I'm here to remind you that to the casual
> punter, it's not obvious.)

For the sender of a TIME option with a non-zero TSval, the TSecr that is echoed
back does have a very direct connection to time; otherwise, it would not be
possible to compare a received TSecr with its local clock to estimate RTT.

The receiver, on the other hand, does not (in general) know the rate of the
sender's timestamp clock, so the only guarantee is that non-zero TSval's that
it receives will be monotonically non-decreasing when generated. That, however,
is sufficient to allow it to send the highest TSval that was received in the
TSecr of its responses.

We will include a note at the beginning of the section about how the section - 
and the option - interprets time as monotonically increasing everywhere, but at
different rates rates in different contexts, i.e., relativisically like [Lamport timestamps](https://en.wikipedia.org/wiki/Lamport_timestamp),
rather than like Newtonian wall clocks, i.e., just as TCP uses its timestamps for PAWS
(Protection Against Wrapped Sequence Numbers; see [RFC 7323 Section 5.4](https://datatracker.ietf.org/doc/html/rfc7323#section-5.4)):

```
5.4 Timestamp Clock

   It is important to understand that the PAWS algorithm does not
   require clock synchronization between the sender and receiver.  The
   sender's timestamp clock is used as a source of monotonic non-
   decreasing values to stamp the segments.  The receiver treats the
   timestamp value as simply a monotonically non-decreasing serial
   number, without any connection to time. 
```

In UDP there are no sequence numbers to protect against wrapping, so
PAWS does not apply directly to the UDP TIME option, but lease let us
know if a pointer to PAWS and this correlation would be useful to include.

done in -43

Fix provisionally verified, but issue will be reopened if John Scudder does not clear his DISCUSS.