Responses to Éric Vyncke's comments

> ## COMMENTS (non-blocking)
> ### Abstract
> 
> s/end of the IP length/end of the IP datagram length/ ?

Queued for -43:

s/end of the IP length/end of the IP datagram/

> ### Section 3
> 
> s/IP header and an IP payload area/IP header, IP extension headers (if any),
> and an IP payload area/ ?

How about this instead:

s/IP header and an IP payload area/IP header (including any IPv4 options) and an IP payload area(including any IPv6 extension headers or other shim headers)/

Rationale: technically, the IPv4 options are part of the IP header, and IPv6 extension headers or other shim headers are part of the IP payload.

> s/that all implementations are required to support/that all implementations MUST
> to support/ ?

We would prefer to leave this as is. It is a definition, where imperatives are not appropriate. 

> About the SAFE options, should there already be some words about the
> middleboxes ?

We believe that mention of middleboxes would be out of place here. Also, it is already covered in detail later.

> ### Section 4
> 
> To my non-English reader's eyes "Internet historians suggest a number of reasons why UDP includes this field" would read easier than `There are a number of reasons why Internet historians suggest that UDP includes this field`

Queued for -43:

Internet historians have suggested a number of possible reasons why the design of UDP includes this field.

> ### Section 5
> 
> I was about to ballot a DISCUSS on this text
```
   They
   enable capabilities available in other transport protocols, such as
   fragmentation and reassembly, that enable UDP frames larger than the
   IP MTU to traverse devices that rely on transport ports, e.g., NATs.
```
> As both TCP & UDP messages can be fragmented by IPv6/IPv4 layer in several
> IPv6/IPv4 fragments without the need of anything at layer-4. Of course, this
> requires stateful NAT/NAT64 devices to handle this correctly.
> 
> So, either the text is unclear (i.e., I misread it) or is plain wrong. This
> sentence *SHOULD* really be rewritten, e.g., by including "stateless
> middleboxes".

How about:

s/
They enable capabilities available in other transport protocols, such as fragmentation and reassembly, that enable UDP frames larger than the IP MTU to traverse devices that rely on transport ports, e.g., NATs.
/
They enable capabilities available in other transport protocols, such as fragmentation and reassembly, that enable UDP frames larger than the IP MTU to traverse devices that rely on transport ports, e.g., NATs, without additional mechanisms or state.
/

And while we are at it, there is an error in the sentence that follows:

s/It adds features/They add features/

> Should there be a reference for `UDP was originally intended to assume such
> capabilities` ?

How about:

s/
UDP was originally intended to assume such capabilities could be provided by the user or by a layer above UDP
/
UDP originally assumed that such capabilities would be provided by the user or by a layer above UDP [RFC768]
/

Rationale: RFC 768 says:

```
This protocol provides a procedure for application programs to send
messages to other programs with a minimum of protocol mechanism. 
```

> ### Section 9
> 
> What are `errant middleboxes` ?

From https://www.google.com/search?q=errant:

"[erring](https://www.google.com/search?sca_esv=9eac3ff54388569f&q=erring&si=APYL9bv6NZfDtNd4vqOHf1pb5ALyk4wy2Zh3aCuzMuHMZxE0pWLGuLbwnpG0yZodfekKgfA1RRC2bC9XBADxQHtL12G4wML7Dw%3D%3D&expnd=1&sa=X&ved=2ahUKEwi0kfmAgPeLAxWDKEQIHfyfJj0QyecJegQIKBAR) or [straying](https://www.google.com/search?sca_esv=9eac3ff54388569f&q=straying&si=APYL9bto9KfN6HH0KMpfhyCmyq0bGtfCzs1AO4_-z1QpBNKW_vM6VFUGD2111mOGfjzojKQ5cwLp_7Dc3KWv3qN0shasr_V0LZ-1-o0I8x7WOPPnWWeIEAw%3D&expnd=1&sa=X&ved=2ahUKEwi0kfmAgPeLAxWDKEQIHfyfJj0QyecJegQIKBAS) from the proper course or standards"

Our document shepherd suggested this in place of "misbehaving middleboxes"

> ### Section 10
> 
> Is there any reason why the field is "Kind" rather than the usual "Type" as in TLV?

The precedent is RFC 793, where the "Kind" terminology was used in the specification of transport options for TCP.

>Even if obvious, please state the unit of the Length field.

How about:

s/The Length field/The Length field, which indicates the length in bytes of the entire option, including Kind and Length,/

in the paragraph immediately following Figure 5?

> Suggest adding some leading text between figure 6 and the indented
> specification paragraphs.

We prefer to leave the text as it is.
 
> s/Option lengths MUST NOT exceed the IP length /The sum of all option lengths
> MUST NOT exceed the IP length / ?

How about:

```
>> Option Lengths (or Extended Lengths, where applicable) that point past
the end of the IP payload MUST be treated as an error and MUST  result in
all UDP options being silently discarded.
```

placed after the normative paragraph that does not allow Option Lengths that are too short for the corresponding Kind?

> ### Section 11.1
> 
> `Bytes after EOL in the surplus area or the options area of a UDP fragment MAY be checked as being zero on receipt, ` should this rather be a MUST to avoid the side channel? I.e., the receiver will be made aware of something wrong happening.

This was discussed in our response to Antoine's review. As noted there, the WG decision to allow, but not to require, a receiver to check that all bytes after EOL are actually zero was a deliberate one, motivated in part to minimize the expense of processing DPLPMTUD probe packets (these typically consist of just a REQ option followed by EOL and zero-fill to a specific size; see Section 23.2 of draft-ietf-tsvwg-udp-options-dplpmtud).

It is definitely worthwhile to clarify that if a receiver elects to check that all bytes after EOL are zero, then the appropriate action is to discard the options but accept the UDP user data. But we don't want to mandate the checking; doing so would require going back to the WG.

For the clarification, we propose the following updated text:

OLD:
```
>> Bytes after EOL in the surplus area or the options area of a UDP
fragment MAY be checked as being zero on receipt, but MUST NOT be
otherwise processed (except for OCS calculation, which zeros would
not affect) and MUST NOT be passed to the user.
```
NEW:
```
>> Bytes after EOL in the surplus area or the options area of a UDP
fragment MAY be checked as being zero on receipt, but MUST NOT be
otherwise processed (except for OCS calculation, which zeros would
not affect) and MUST NOT be passed to the user. If a receiver elects
to check the bytes following EOL and finds that they are not all set
to zero, it MUST silently discard the options area. In this case the
UDP user data MUST be delivered to the application layer, unless
the socket has been explicitly configured to do otherwise, as
decided by the upper layer or negotiated with the other endpoint.
```

The same issue was raised in Antoine's review, and this fix should cover that as well.

> ### Section 11.3
> 
> Should there be informal reference to `including iSCSI` ?

How about:

```
A CRC32c has been chosen because of its ubiquity and use in other
Internet protocols, including iSCSI [RFC3385] and SCTP [RFC9260].
The option contains the CRC32c in network standard byte order, as
described in [RFC3385].
```

There are already informational references to RFC 3385 and RFC 9260.

> `UDP packets with incorrect APC checksums SHOULD be passed to the application,
> e.g., with a flag indicating APC failure` unsure whether 'e.g.,' is safe here,
> mandating an CRC violation signal to the application seems mandatory to me.

How about:
```
>> UDP packets with incorrect APC checksums SHOULD be passed to the
application with an indication of APC failure. This is the default
behavior for APC.
```

> ### Section 11.4
> 
> This is probably the section that is the most contentious from my view...
> Fragmentation is done in layer-3 usually (for the better or the worse) so
> having *TWO* fragmentation layers seems useless (beside stateless NAT),
> redundant, and possibly having side effects related to path MTU discovery.
>
> Notably, because TCP and its options do not have a similar mechanism and nobody
> has every complained (I can be wrong though). At the bare minimum, add
>"stateless NAT" in
```
   FRAG includes
   a copy of the same UDP transport ports in each fragment, enabling
   them to traverse Network Address (and port) Translation (NAT)
   devices, in contrast to the behavior of IP fragments [RFC4787].
```

OK to s/NAT/stateless NAT/.

Beyond that, we'd like to make three points, but not for inclusion in the draft, as it would take us too far afield there.

First, TCP does have its own similar mechanism - it’s embedded in the way that TCP segments the continuous user byte stream into segments and reconstitutes them into that byte stream at the other end. Many aspects of UDP fragmentation as defined in this spec are based on how TCP’s segmentation works, including the reporting of MSS in TCP, which is mirrored by MDS/MRDS in this specification. Most significantly, every TCP segment carries port numbers, and UDP fragments also have this feature.

Second, while it's true that if IP fragmentation worked sufficiently well, there would be little motivation to define and attempt to deploy UDP fragmentation; we'd just use IP fragmentation and be done with it. But there is ample evidence that IP fragmentation, particularly IPv6 fragmentation, does NOT work well, particularly for DNS. Geoff Huston has written extensively on this topic, recently reporting an astonishing 56% failure rate (see [](https://datatracker.ietf.org/meeting/119/materials/slides-119-v6ops-operational-issues-00.pdf)). The high failure rate appears to be due to a combination of issues, including the fact that IPv6 fragments use extension headers, and also because users apparently are not accustomed to setting packer filters to allow fragments to pass (see [this message](https://mailarchive.ietf.org/arch/msg/tsvwg/pCKpbgA1xSwGP2GRja9_0aX2SOY/) from Mark Smith to the ipv6 and tsvwg mailing lists where this issue is discussed).

Finally, note that [RFC 8900 Section 4.1](https://datatracker.ietf.org/doc/html/rfc8900#name-transport-layer-solutions) points to this draft as a transport layer alternative to IP fragmentation.


> Is there any implementation of HW acceleration as in
```
   When present, placing FRAG first can simplify some implementations,
   notably those using hardware acceleration that assume a fixed
   location for the FRAG option.
```
> ?

Certainly not for UDP fragments -- not yet, anyway -- but it has been done for TCP (e.g., Large Receive Offload, supported by some NICs and OS's).

> ### Sections 11.5 and 11.6
> 
> Should there be some text about the usefulness of these options in the case of
> a unidirectional UDP flow ?

It's certainly true that the MDS (11.5) and MRDS (11.6) are not useful in a unidirectional flow. But then again, neither are REQ (11.7). RES (11.7), or TIME (11.8). We do not see a need to emphasize the obvious. Additionally, truly unidirectional UDP, i.e., with no return channel at all, is not a particularly useful service, given that UDP does not guarantee delivery.

> ### Section 11.8
> 
> No need to reply, but this section seems to be an attempt to have a TCP-like
> transport above UDP. Anyway, it does not hurt...

The TIME option is intended as an optional-to-implement tool to measure RTT. It is inspired by the TCP TIME option, but otherwise has no relationship. Exchange of TIME options is neither reliable nor ordered, nor does it have a three-way handshake.

Note that we do intend to clarify the nature of TIME values in our response to John Scudder's DISCUSS point. See Issue #93.

> ### Section 18
> 
> A blast from the past `Windows Cygwin` ;-) (no need to reply)

Actually, Cygwin is still going strong, with its most recent update being issued just last month ;-)

> ## NITS (non-blocking / cosmetic)
> 
> ### Use of SVG graphics
> 
> To make a much nicer HTML rendering, suggest using the aasvg too to generate
> SVG graphics. It is worth a try especially when using Markdown format ;-)

This document was written using MS Word, not Markdown, as noted in the acknowledgments (see RFC 5385), so we cannot easily do this.

Done in -43.

Fixes verfies.