Section 7: correct formulas for UDP Length upper bound (from Éric Vyncke's DISCUSS ballot)

> ### Section 7
> 
> `UDP_Length = IPv4_Total_Length - IPv4_IHL * 4` this formula is incorrect in the presence of IPsec (ESH/AH) in transport mode or IPcomp.

Updated text:

```
For IPv4, IP Total Length field indicates the total IP datagram
length (including IP header), and the size of the IP options is
indicated in the IP header (in 4-byte words) as the “Internet Header
Length” (IHL), as shown in Figure 1 [RFC791]. In exceptional cases,
the Protocol field in IPv4 might not indicate UDP (i.e., 17), e.g.,
when intervening shim headers are present such as IP Security
IPsec) [RFC4301] or for IP Payload Compression (IPComp) RFC 3173]. 
The upper bound for UDP Length when Protocol = 17 is given by:

   UDP_Length <= IPv4_Total_Length – IPv4_IHL * 4

If shim headers are present, this upper bound must be reduced by the
sum of the lengths of shim headers that precede the UDP header.

  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |Version|  IHL  |   DSCP    |ECN|          Total Length         |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |         Identification        |Flags|      Fragment Offset    |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |  Time to Live |   Protocol    |        Header Checksum        |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |                       Source Address                          |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |                    Destination Address                        |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  ... zero or more IP Options (using space as indicated by IHL) ...
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  ...     zero or more shim headers (each indicating size)      ...
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |         UDP Source Port       |     UDP Destination Port      |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
  |          UDP Length           |         UDP Checksum          |
  +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

                Figure 1    IPv4 datagram with UDP header
```
For consistency, change the text for IPv6 as follows:

```
   For IPv6, the IP Payload Length field indicates the transport
   payload after the base IPv6 header, which includes the IPv6
   extension headers and space available for the transport protocol, as
   shown in Figure 2 [RFC8200]. Note that the Next Header field in IPv6
   might not indicate UDP (i.e., 17), e.g., when intervening IP
   extension headers are present. For IPv6, the lengths of any
   additional IP extensions are indicated within each extension
   [RFC8200], so the upper bound for UDP Length is given by:

   UDP_Length <= IPv6_Payload_Length – sum(extension header lengths)
```

And then change the paragraph after Figure to to read:

...
In both cases, the space available for the UDP packet is indicated
by IP, either directly in the base header or by adding information
in the shim headers or extensions. In either case, this document
will refer to this available space as the “IP transport payload”.
...

Finally, add RFC 3173 as an informative reference.

[VynckeSec7Updates.docx](https://github.com/user-attachments/files/19253149/VynckeSec7Updates.docx) shows the updates in a Word doc with track changes.

Done in -43

Review version has some errant text before Figure 2 (markup coming).

Found the fix and now corrected.