IANA evaluation response

IANA evaluation was sent to the author on 3/14/24: 

Dear Author,

Before the IETF meeting, we check working group agendas for documents with IANA-related issues. We have notes about the current version of this document:

https://datatracker.ietf.org/doc/html/draft-ietf-tsvwg-udp-options-31

The IANA Considerations section says that “IANA is hereby requested to create a new registry for UDP Option Kind numbers, similar to that for TCP Option Kinds; this assumes the creation of a new UDP registry group in which UDP Option Kinds would be the only entry.”

However, it later asks that UDP Experimental Option Experiment Identifiers (UDP ExIDs) be created as well, presumably in that group.

Also, while the document notes that the UDP ExID should be used in a similar manner as the TCP ExID registry, it doesn’t make it explicitly clear that the requirements in Section 8 of RFC 6994 (16-bit and 32-bit values, IANA should record duplicate uses, descriptions are encouraged but not required) are carried over. If true, can that be stated? In addition, it should possibly be noted that RFC 6994 mentions the registration of ExIDs for experimental TCP codepoints 253 and 254, but this document doesn't appear to be registering UDP ExIDs for experimental UDP codepoints. Is that intentional?

If you have any questions, just let us know. If you'd like to talk in person, you can find us next to the RFC Editor's table from Monday through Thursday. You can also request another review at any time by contacting us at [iana@iana.org](mailto:iana@iana.org).

For more information about IANA Considerations section requirements, please see

https://www.iana.org/help/protocol-registration

Best regards,

Amanda Baber
IANA Operations Manager

This is being resolved in -32 as follows:

- the section now refers to a group of registries including both the Kinds and ExIDs
- detail on the ExIDs refers back to the EXP and UEXP sections
- detail on the ExIDs defines what is recorded

This has all been included in the new text for -32 as follows:

Upon publication, IANA is hereby requested to create a new registry group for UDP Options, consisting of UDP Option Kind numbers and UDP Option Experimental IDs (ExIDs).

...

UDP Experimental Option Experiment Identifiers (UDP ExIDs) are intended for use in a similar manner as TCP ExIDs [RFC6994]. UDP ExIDs can be used in either (or both) the UDP EXP (Section 11.10) or UEXP (Section 12.3) options. This registry is initially empty. Each entry consists of a 16-bit ExID (in network-standard order), and will preferentially also include a short description and acronym for use in documentation. UDP ExIDs are always 16 bits because their use in EXP and UEXP options is required and thus do not need a larger number space to decrease the probability of accidental occurance with non-ExID uses of the experimental options, as is the case with TCP ExIDs.


Last paragraph of IANA Considerations section still has options for separate registries or common registries. Suggest nailing this down to be a common registry and updating the text accordingly. See also Issue #29.

Resolved in -33