Section 22: note that UDP proxying by HTTP (RFC 9298) cannot support UDP options (from Éric Vyncke's DISCUSS ballot)

> ### Interaction with RFC 9298
> 
> I was expected some text about RFC 9298 "Proxying UDP in HTTP" as it may affect
> UDP options; i.e., at least some words about this RFC should appear in this
> document.

Amend the text in Section 22 immediately following Figure 19 to read as follows:

```
UDP options cannot be supported when a UDP packet has no independent
UDP Length. One such case is when UDP Length==0 in IPv6, intended
for (but not limited to) IPv6 Jumbograms [RFC2675]. Note that
although this technique is “Standard", the specification did not
“update" UDP [RFC768]. Another such case arises when UDP is proxied
via HTTP [RFC 9298], as the UDP header is omitted and only the UDP
user data is transported.
```

Also, add RFC 9298 as an informative reference.

[VynckeSec22Updates.docx](https://github.com/user-attachments/files/19253630/VynckeSec22Updates.docx) shows the updates in a Word doc with track changes.

done in -43

Review version has some errant text after Figure 19 (markup coming).

Found the error - replaced text was not correctly removed. Fixed now.